<div class="container" ng-app="myApp" ng-controller="mainController" id="events-content">

    <div class="left-column">
        <h3>Search Events</h3>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="searchText" placeholder="Find Events..">
        </div><!-- /input-group -->
        <hr>
        <h3>Find By Category </h3>
        <ul>
            <li><a href="#">Academic/ Pre-Professional</a></li>
            <li><a href="#">Performing Arts</a></li>
            <li><a href="#">Religious</a></li>
            <li><a href="#">Sports & Recreational</a></li>
        </ul>
        <h3>Find By University </h3>
        <ul>
            <li><a href="#/universityOfCentralFlorida">University of Central Florida</a></li>
            <li><a href="#/universityOfSouthFlorida">University of South Florida</a></li>
            <li><a href="#/universityOfNorthFlorida">University of North Florida</a></li>
            <li><a href="#/universityOfFlorida">University of Florida</a></li>
        </ul>
        <h3>Find From RSOs </h3>
        <ul>
            <li><a href="#/myRSOs">Find From RSOs</a></li>
        </ul>
    </div>

    <div ng-app="myApp" ng-controller="mainController" class="right-column" style="width:75%;">
        <h2>All Current Events</h2>
        <hr>
        <div class="events">
            <div class="event" ng-repeat="event in events | limitTo:25 | filter:searchText">
              <a href="#/event/{{event.Event_id}}">
                <div class="row">
                    <div class="col-xs-12">
                        <h3> {{event.Name}} </h3>
                        <p> {{event.Description}} </p>

                    </div>
                </div>
                <h4 class="time">{{ event.Start_date | date : "EEE, M/d @ h:mm a" }}</h4>
                <hr>
                <a href="http://twitter.com/share?url=http://teamflightclubproject.com/tempEvents#/event/{{event.Event_id}}/&text=I am attending {{event.Name}} on {{event.Start_date | date : 'EEE, M/d @ h:mm a'}} and you should too!" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
